<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC57lQqiior4WrACvwjTyyCF1JK7G2s2Fk</string>
	<key>GCM_SENDER_ID</key>
	<string>837778246647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firstApp2025Esilv</string>
	<key>PROJECT_ID</key>
	<string>esilv2025-974e9</string>
	<key>STORAGE_BUCKET</key>
	<string>esilv2025-974e9.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:837778246647:ios:2a463863a142fb35873cf2</string>
</dict>
</plist>